.header__img {
    background-color: var(--color-secondary);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__logo {
    background-color: var(--shadow-black);
    height: 80px;
    width: 180px;
  }
  
  .header__logo-logo {
    text-align: center;
    margin-top: 0.5rem;
  }
  
  .header__nav-lista {
    display: flex;
    gap: 2rem;
  }
  
  @media (min-width: 1100px) {
    .header__nav-lista a {
      transition: 0.3s;
      position: relative;
    }
    .header__nav-lista a::after {
      content: "";
      display: block;
      height: 5px;
      width: 0%;
      background-color: var(--shadow-black);
      right: 50%;
      margin-top: 2px;
      transition: 0.4s;
      position: absolute;
    }
  
    .header__nav-lista a:hover::after {
      width: 50%;
    }
  
    .header__nav-lista a::before {
      content: "";
      display: block;
      height: 5px;
      width: 0%;
      background-color: var(--shadow-black);
      top: 39px;
      left: 50%;
      transition: 0.4s;
      position: absolute;
    }
  
    .header__nav-lista a:hover::before {
      width: 50%;
    }
  }
  
  @media (max-width: 1100px) {
    .header {
      position: relative;
    }
  
    .header__nav-lista {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 80px;
      background-color: var(--color-secondary);
      z-index: 2;
      padding: 1rem;
    }
  
    .header__nav-lista li + li {
      margin-top: 1rem;
    }
  
    .hidden {
      display: none;
    }
  }
  
  @media (max-width: 480px) {
    .header__logo-logo {
      font-size: 3rem;
      margin-top: 1rem;
    }
    .header__logo {
      height: 80px;
      width: 150px;
    }
  }